/*顶部导航开始*/
	.nav-site{
		height: 44px;
		background: #f3f5f7;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		line-height: 44px;
		margin-right: 10px;
	}
	.menu-active:hover{
		background-color: #fff;
	}
	.menu-active i{
		transform:rotate(180deg);
		
	}
	/*.menu-active .dropdown-layer{
		display: block;
	}*/
	.dropdown li{
		padding: 10px;
	}
	.dropdown-layer{
		top:44px;
	}
	.dropdown-layer li:hover{
		background-color: #f5f7f5;
	}
	.dropdown-item{
		color: #4d555d;
	}
	.dropdown-loadding{
		width: 32px;
		height: 32px;
		background: url(../images/loading.gif) no-repeat;
		margin: 20px;
	}
/*顶部导航结束*/
/*头部开始*/
	.header{
		height: 100px;
		background: yellow;
	}
	.header .container img{
		width: 150px;
		height: 50px;
		margin-top: 25px;
	}
	.header .search{
		margin-top: 35px;
		margin-left: 100px;
	}
	.header .search .search-input{
		width: 600px;
		height: 35px;
		outline: none;
		box-sizing: border-box;
	}
	.header .search .submit{
		width: 75px;
		height: 35px;
		background-color: black;
		color: #fff;
		outline: none;
		border:none;
		cursor: pointer;
	}
	.header .search .searchLayer{
		width: 675px;
		/*height: 301px;*/
		border:1px solid #ccc;
		box-sizing: border-box;
		background-color: #fff;
		list-style: none;
		cursor: pointer;
		border-top: none;
	}
	.header .search .searchLayer li{
		/*height: 30px;*/
		line-height: 30px;
		/*font-size: 14px;*/

	}
		.header .search .searchLayer li:hover{
			background-color: #ccc;
		}
/*头部结束*/
/*主导航开始*/
	.nav-main{
		height: 50px;
		background: orange;
	}
	.nav-main .link{
		display: inline-block;
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		margin-right: 20px;
		cursor: pointer;
	}
	.nav-main .link:hover{
		color: #ea675a;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航结束*/
/*主要内容开始*/
	.focus{
		height: 500px;
		background: pink;
	}
/*主要内容结束*/
/*今日热销开始*/
	.todays{
		height: 100px;
		background: black;
	}
/*今日热销结束*/
/*楼层开始*/
	.floor{
		height: 300px;
		background: red;
	}
/*楼层结束*/